# Postgres settings for NBgrader
POSTGRES_NBGRADER_HOST=localhost
POSTGRES_NBGRADER_USER=postgres
POSTGRES_NBGRADER_PASSWORD=postgres
POSTGRES_NBGRADER_DB_PREFIX=nbgrader

# ORG Name to migrate
ORGANIZATION_NAME=my-org