# setup course microservice
COURSE_SERVICE_URL=http://setup-course:8000

# database hostname. if using rds, this would equate the rds endpoint value
POSTGRES__HOST=localhost

# database user needs full privilegdest to create dbs
POSTGRES_USER=postgres

# database user password, also known as master password
POSTGRES_PASSWORD=postgres

# postgres port
POSTGRES_PORT=5432

# organization name located in the mount root, for example
# for /mnt/efs/fs1/acme the organization name would be acme
ORGANIZATION_NAME=illumidesk

# default sqlite db file name
SQLITE_DB_FILENAME=gradebook.db

# mount root directory
MNT_ROOT=/mnt/efs/fs1

# organization's domain
ORGANIZATION_DOMAIN=my.illumidesk.com